{{#with data}}
<table class="table">
    <caption>需要提交: {{total}}, 已提交: {{submitCount}}</caption>
    <thead>
    <tr>
        <th>题目</th>
        <th>开始时间</th>
        <th>截止时间</th>
        <th>提交时间</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{title}}</td>
            <td>{{startTime}}</td>
            <td>{{endTime}}</td>
            <td>{{#if submitted}}{{submitTime}}{{else}}Overdue/Optional{{/if}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
{{/with}}
