{{#with data}}
{{#if goodExpers}}
    <table class="table table-striped">
        <caption>高经验值</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>学号</th>
            <th>exp</th>
            <th>查看</th>
        </tr>
        </thead>
        <tbody>
        {{#each goodExpers}}
            <tr>
                <td>{{User.userName}}</td>
                <td>{{userId}}</td>
                <td>{{activity}}</td>
                <td><a href="/student/class/{{userId}}/{{classId}}" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}


{{#if badExpers}}
<table class="table table-striped">
    <caption>低经验值</caption>
    <thead>
    <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>exp</th>
        <th>查看</th>
    </tr>
    </thead>
    <tbody>
    {{#each badExpers}}
        <tr>
            <td>{{User.userName}}</td>
            <td>{{userId}}</td>
            <td>{{activity}}</td>
            <td><a href="/student/class/{{userId}}/{{classId}}" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{/if}}
{{/with}}
