
<div class="rate-table">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6" href="#overall">
            <div class="rate-counter-block">
                <div class="icon rate-icon  "> <img src="/img/mortgage.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                <div class="rate-box">
                    <h1 class="loan-rate">{{ data.overallScore}}</h1>
                  <a href="#overall">
                      <small class="rate-title">Overall Score</small>
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="rate-counter-block">
                <div class="icon rate-icon  "> <img src="/img/loan.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                <div class="rate-box">
                    <h1 class="loan-rate">{{ data.socialScore}}</h1>
                  <a href="#social">
                      <small class="rate-title">Social</small>
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="rate-counter-block">
                <div class="icon rate-icon  "> <img src="/img/car.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                <div class="rate-box">
                    <h1 class="loan-rate">{{ data.dormScore}}</h1>
                    <a href="#dorm">
                      <small class="rate-title">Dorm</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="rate-counter-block">
                <div class="icon rate-icon  "> <img src="/img/credit-card.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                <div class="rate-box">
                    <h1 class="loan-rate">{{ data.homeworkScore}}</h1>
                    <a href="#dorm">
                        <small class="rate-title">Homework</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white section-space80" id="summary">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="mb100 text-center section-title">
                <!-- section title start-->
                <h1>SUMMARY</h1>
                <p>{{ data.summary}}</p>
            </div>
            <!-- /.section title start-->
        </div>

    </div>

</div>

<div class="bg-white section-space80" id="overall">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="mb100 text-center section-title">
                <!-- section title start-->
                <h1>OVERALL</h1>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
</div>

<div class="bg-white section-space80" id="social">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="mb100 text-center section-title">
                <!-- section title start-->
                <h1>SOCIAL</h1>
              <p>Graphs here</p>
                <div>
                </div>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
</div>

<div class="bg-white section-space80" id="dorm">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="mb100 text-center section-title">
                <!-- section title start-->
                <h1>DORM</h1>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
</div>


