<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="/">Education User Analysis</a>
            <nav id="fh5co-main-nav" role="navigation">
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <!--<li><a href="/settings">Settings</a></li>-->
                    <li><a href="/logout">Logout</a></li>

                </ul>
            </nav>
        </div>

        <nav id="fh5co-main-nav" role="navigation" class="analysis-selector">
            <ul>
                <li><a id="activity"  class="active">活跃度</a></li>
                <li><a id="social">社交</a></li>
                <li><a id="homework">作业</a></li>
                <li><a id="dorm">寝室</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="col-xs-12">
    <div class="col-xs-4">
        <div class=" text-center section-title">
            <img src="{{data.faceIcon}}" style="max-width: 150px" class="padding-bottom-2">
            <h4>Hey {{data.userName}}</h4>
            <h4>{{data.className}}</h4>
          <div id="summary" class="col-xs-12">
              <div class="col-xs-2"></div>
            <div class="col-xs-10">
              {{{data.summary}}}
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-8" id="analysis-sections">
        <div id="activity-section" class="text-center analysis-section">
            <!-- section title start-->
            <h3>活跃度</h3>
            <canvas id="activity-chart" width="750" height="400"></canvas>
        </div>
        <div id="social-section" class="text-center analysis-section hidden">
            <!-- section title start-->
            <h3>社交</h3>
            <canvas id="social-chart" width="750" height="400"></canvas>
        </div>
        <div id="homework-section" class="text-center analysis-section hidden">

            <!-- section title start-->
            <h1>作业</h1>
            <div id="homework-html" class="text-left">
            </div>
        </div>
        <div id="dorm-section" class="text-center analysis-section hidden">
            <!-- section title start-->
            <h3>室友该门课经验值</h3>
            <canvas id="dorm-chart" width="750" height="400"></canvas>

                <!--{{#each data.dorm}}-->
            <!--<div class="col-xs-6 text-left ">-->
            <!--<p class="lesser-margins">exp: {{exp}}</p>-->
            <!--</div>-->
                <!--{{/each}}-->

        </div>

    </div>
</div>

