<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="/">ECNU USER ANALYSIS</a>
            <nav id="fh5co-main-nav" role="navigation">
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>

                </ul>
            </nav>
        </div>

        <nav id="fh5co-main-nav" role="navigation" class="analysis-selector">
            <ul>
                <li><a id="activity"  class="active">Activity</a></li>
                <li><a id="social">Social</a></li>
                <li><a id="dorm">Dorm</a></li>
                <li><a id="homework">Homework</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="col-xs-12">
    <div class="col-xs-4">
        <div class=" text-center section-title">
            <img src="{{data.user.faceIcon}}" style="max-width: 150px" class="padding-bottom-2">
            <h3>Hey {{data.user.userName}}</h3>
            <h3>Your class exp is {{data.user.exp}}</h3>
            <p>{{ data.user.summary}}</p>
        </div>
    </div>
    <div class="col-xs-8" id="analysis-sections">
        <div id="activity-section" class="text-center analysis-section">
            <!-- section title start-->
            <h3>Activity</h3>
            <canvas id="activity-chart" width="750" height="400"></canvas>
        </div>
        <div id="social-section" class="text-center analysis-section hidden">
            <!-- section title start-->
            <h3>Social</h3>
            <canvas id="social-chart" width="750" height="400"></canvas>
        </div>
        <div id="dorm-section" class="text-center analysis-section hidden">
            <!-- section title start-->
            <h3>Dorm</h3>
            <h3>Roommates scores</h3>
            <canvas id="dorm-chart" width="750" height="400"></canvas>

                <!--{{#each data.dorm}}-->
            <!--<div class="col-xs-6 text-left ">-->
            <!--<p class="lesser-margins">exp: {{exp}}</p>-->
            <!--</div>-->
                <!--{{/each}}-->

        </div>
        <div id="homework-section" class="text-center analysis-section hidden">
            <!-- section title start-->
            <h1>Homework</h1>
            <div id="homework-html"></div>
        </div>
    </div>
</div>

