<header>
    <div class="container text-center">
        <div class="fh5co-navbar-brand">
            <a class="fh5co-logo" href="/">ECNU USER ANALYSIS</a>
        </div>

        <nav id="fh5co-main-nav" role="navigation">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>

            </ul>
        </nav>
    </div>
  <link rel="stylesheet" href="/css/jquery.typeahead.min.css">
    <script src="/js/jquery.typeahead.min.js"></script>
    <script src="/js/search.js"></script>
</header>

<div class="col-xs-12">
    <div class="col-xs-4 text-center">
        <img src="{{data.teacherInfo.faceIcon}}" style="max-width: 150px" class="padding-bottom-2">
        <h4>嗨 {{data.teacherInfo.userName}}</h4>
        <h4>您教了 {{data.classCount}} 门课</h4>
    </div>

    <div class="col-xs-8">
        <div class="col-xs-12" style="padding-bottom: 10px">
            <div class="col-xs-6"></div>
          <div class="col-xs-6">
              <var id="result-container" class="result-container"></var>

              <form id="form-country_v2" >
                  <div class="typeahead__container">
                      <div class="typeahead__field">

            <span class="typeahead__query">
                <input class="student-search"  type="search" placeholder="搜索学生" autocomplete="off">
            </span>
                          <span class="typeahead__button">
                <button type="submit">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>

                      </div>
                  </div>
              </form>
          </div>

        </div>
        <div class="panel-group col-xs-12" id="accordion">
          {{#each data.data}}
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" class="class-detail" data-parent="#accordion" href="#{{classId}}">
                            {{Term.termName}}: {{Course.courseName}}
                          </a>
                      </h4>
                  </div>
                  <div id="{{classId}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          <canvas class="exp-graph">

                          </canvas>
                          <div class="exp-table">

                          </div>
                      </div>
                  </div>
              </div>
          {{/each}}
        </div>

    </div>
</div>
