<div class="row">
    <div class="bg-white section-space80" id="summary">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class=" text-center section-title">
                    <!-- section title start-->
                    <h2>Teaching {{data.classCount}} Classes</h2>
                </div>
                <!-- /.section title start-->
            </div>
        </div>

    </div>
    <div class="bg-white section-space80">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-xs-12">
                <div class="section-title">
                    <div class="panel-group" id="accordion">
                      {{#each data.data}}
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion"
                                         href="#{{classInfo.classId}}">
                                          {{classInfo.classId}}: {{classInfo.Course.courseName}}
                                      </a>
                                  </h4>
                              </div>
                              <div id="{{classInfo.classId}}" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      {{#if badScoreFilter}}
                                        <p>Bad Scorers</p>
                                        {{#each badScoreFilter}}
                                            <p><a href="/student/{{userId}}">{{userId}} </a>{{userName}} {{score}}</p>
                                        {{/each}}
                                      {{/if}}
                                  </div>
                              </div>
                          </div>
                      {{/each}}
                    </div>
                </div>
                <!-- /.section title start-->
            </div>
        </div>

    </div>
</div>
